*, *::before, *::after {
    box-sizing: border-box;
}

.rootReact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

html, body, .root {
    min-width: 1500px;
}

