.cards_parent{
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.list{
    min-width: 250px !important;
}

.card_adder{
    cursor: pointer;
}

.delete-list.material-icons.pin{
    margin-top: 0;
    float: right;
}